*.class

# Package Files #
*.jar
*.war
*.ear

logs
project/project
project/target
target
tmp

com.eixox.jetfuel/target/classes/META-INF/MANIFEST.MF

com.eixox.jetfuel/target/classes/META-INF/maven/com.eixox/com.eixox.core/pom.properties
